// Formulaires.
form {

  &.contact, &.genformcontact {
    text-align: center;
  }

  &.contact {
    textarea {
      min-height: 60px;
      max-height: 300px;
      resize: vertical;
    }

    p:last-child {
      text-align: center;
    }
  }

  input[type="number"] {
    width: 20%;
    display: inline-block;
    outline: none;
  }

}

.g-recaptcha {
  margin: auto;
}

.submit-container {
  width: 100%;
  margin: 1rem auto;
}

#reponseform {
  background-color: white;
  color: black;
  width: 750px;
  min-height: 300px;
  resize: vertical;
  overflow: auto;
  margin: auto;
}

#resultat, #erreur {
  width: 300px;
  max-height: 200px;
  overflow: auto;
  margin: auto;
}

.changeform {
  outline: none;
  color: #565656;
  border: 1px #565656 solid;
  background-color: #FFFFFF;

  &:hover {
    outline: none;
    color: black;
    border: 1px black solid;
    background-color: #EFEFEF;
  }
}