header {
  position: fixed;
  width: 100%;
  border-bottom:1px solid #f0f0f0;

  .menu {
    font-size: 24px;
  
    a {

      &:hover {
        //color: $blue;
        border-radius: 20%;
        background-color: $white;
        text-decoration: none;
      }
    }

    & > ul > li > a {
      text-decoration: none;
      transition: all 1.5s ease;
    }
  }

}

