body {
  font-family: 'Nunito', sans-serif;
  color: black;
  width: 100%;
  margin: 0px;
}

.corps {
  width: 80%;
  margin: auto;
  color: #474747;
  padding: 70px 10px;
}

h1 {
  color: #000;
  font-size: 2.5rem;
  text-align: center;
}

h2 {
  width: auto;
  font-size: x-large;
  text-align: center;

  &.parcours_titres {
    border-bottom: 1px solid #f4f5f6;
  }
}

.gras {
  font-size: 1em;
  font-weight: bold;
}

.error {
  color: #FF4110;
}

.button {
  border-radius: 30px;
}
  

table {
  margin-left: auto;
  margin-right: auto;
}

.choice {
  cursor: pointer;
  display: inline-block;
  padding: 6px;
  margin: 6px 24px;
  border: 1px solid #00A;
}

.list-experiences {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.experience {
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #e4e5e6;
  border-radius: 5%;
  margin: 1rem 0;

  .experience__title {
    font-size: 1.3rem;
    text-align: center;
  }

  &:hover {
    background-color: $white;
  }
}