// Responsive.
@media screen and (max-width: 40em) {
  .responsive-blog-footer {
    h4 {
      font-size: 1.5rem;
    }
    
  }

  .responsive-blog-footer {
    .flex-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
  }

  .corps {
    padding-top: 160px;
  }

  h1 {
    font-size: 2rem;
  }

  table {
    tr + tr {
      td:first-child {
        max-width: 30px;
      }
    } 
  }
}

/* Impression */
@media print {
  body {
      width: auto;
  }

  header, footer, a, h1, h3 {
      display: none;
  }

  h2 {
      padding: 0px;
      margin: 0px;
  }

  .corps {
      margin: 0px;
  }

  table {
      border-spacing: 0px;
      position: fixed;
      top: 0px;
  }
}