body {
    background: #fff;
    color: black;
    width: 100%;
    margin: 0px;
}

header {
    border-bottom:1px solid #f0f0f0;
}

.menu {
    font-family: 'Lora', sans-serif;
    font-size: 24px;
}

.menu .is-submenu-item{
    font-size: 16px;
}

.menu > ul > li > a {
    color:#5db157;
    text-decoration: none;
    transition: all 1.5s ease;
}

.menu .is-submenu-item a {
    width:100%;
    text-align: center;
}

header .menu a:hover {
    color: #fff;
    background-color: #5db157;
    text-decoration: none;
    transition: all 1.5s ease;
}

.corps {
    background: #fff;
    color: #474747;
    padding: 70px 10px 30px 10px;
}
/**
Footer
*/

.responsive-blog-footer {
    background: #4a4a4a;
    padding: 3rem 3rem;
    color: white;
}
  
@media screen and (max-width: 39.9375em) {
    .responsive-blog-footer h4 {
      font-size: 1.5rem;
    }
}
  
.responsive-blog-footer p {
    color: #8a8a8a;
}

.responsive-blog-footer a {
    font-size: 1.2rem;
    color: #8a8a8a;
}
    

table {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #428017;
    font-size: xx-large;
    text-align: left;
}

h2 {
    width: auto;
    color: #428017;
    font-size: x-large;
    text-align: center;
}

h2.parcours_titres {
    border-bottom: 1px solid #428017;
}

.gras {
    font-size: 1em;
    font-weight: bold;
}

.error {
    color: #FF4110;
}

.contact p:last-child {
    text-align: center;
}


form.contact, form.genformcontact {
    width: 40%;
    margin: auto;
}

form.genformcontact input[type="text"], form.genformcontact input[type="email"], form.genformcontact textarea {
    width: 60%;
}

input[type="number"] {
    width: 20%;
    display: inline-block;
    outline: none;
}

form.contact textarea {
    min-height: 60px;
    max-height: 300px;
    resize: vertical;
}

.startgame, .stopgame {
    width: 200px;
    padding: 4px;
    margin: 6px;
    color: white;
    cursor: pointer;
    background-color: #5C7FBF;
    border: 1px white solid;
    border-radius: 8px;
}

.choice {
    cursor: pointer;
    display: inline-block;
    padding: 6px;
    margin: 6px 24px;
    border: 1px solid #00A;
}

#resultat, #erreur {
    width: 300px;
    max-height: 200px;
    overflow: auto;
    margin: auto;
}

.changeform {
    outline: none;
    color: #565656;
    border: 1px #565656 solid;
    background-color: #FFFFFF;
}

.changeform:hover {
    outline: none;
    color: black;
    border: 1px black solid;
    background-color: #EFEFEF;
}

#reponseform {
    background-color: white;
    color: black;
    width: 750px;
    min-height: 300px;
    resize: vertical;
    overflow: auto;
    margin: auto;
}

label {
    display: block;
    float: left;
    width: 250px;
}

.exp-title {
    font-size: 1.3rem;
    text-align: center;
}

.list-experiences {
    padding: 0px 0px 20px 0px;
}

.experience-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.experience-item:hover {
    background-color: rgba(180, 200, 180, 0.3);
}

/* responsive design taille moyenne*/
@media screen and (min-width: 769px) and (max-width: 1200px) {
    .corps {
        padding-top: 30px;
    }
}

/* responsive design petite taille */
@media screen and (max-width: 768px) {
    .corps {
        padding-top: 30px;
    }

    h1 {
        font-size: x-large;
    }

    table tr + tr td:first-child {
        max-width: 30px;
    }
}

/* Impression */
@media print {
    body {
        width: auto;
    }

    header, footer, a, h1, h3 {
        display: none;
    }

    h2 {
        padding: 0px;
        margin: 0px;
    }

    .corps {
        margin: 0px;
    }

    table {
        border-spacing: 0px;
        position: fixed;
        top: 0px;
    }
}